In [23]:
import pandas as pd

In [24]:
data = 'book3.xlsx'

In [25]:
df = pd.read_excel(io=data)

In [26]:
df.head()

         客户日期      汇率表日期
0  10/26/2013 2010-01-05
1  10/26/2013 2010-01-06
2   9/16/2015 2010-01-07
3  10/26/2013 2010-01-08
4   6/10/2014 2010-01-11

In [27]:
df['A'], df['B'],df['C'] = df['客户日期'].str.split('/').str

In [28]:
df.head()

         客户日期      汇率表日期   A   B     C
0  10/26/2013 2010-01-05  10  26  2013
1  10/26/2013 2010-01-06  10  26  2013
2   9/16/2015 2010-01-07   9  16  2015
3  10/26/2013 2010-01-08  10  26  2013
4   6/10/2014 2010-01-11   6  10  2014

In [29]:
df['date']=df['B']+'/'+df['A']+'/'+df['C']

In [30]:
df.head()

         客户日期      汇率表日期   A   B     C        date
0  10/26/2013 2010-01-05  10  26  2013  26/10/2013
1  10/26/2013 2010-01-06  10  26  2013  26/10/2013
2   9/16/2015 2010-01-07   9  16  2015   16/9/2015
3  10/26/2013 2010-01-08  10  26  2013  26/10/2013
4   6/10/2014 2010-01-11   6  10  2014   10/6/2014

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2237 entries, 0 to 2236
Data columns (total 6 columns):
客户日期     2236 non-null object
汇率表日期    2006 non-null datetime64[ns]
A        2236 non-null object
B        2236 non-null object
C        2236 non-null object
date     2236 non-null object
dtypes: datetime64[ns](1), object(5)
memory usage: 105.0+ KB

In [32]:
df['date1'] = pd.to_datetime(df.date)

In [33]:
df.head()

         客户日期      汇率表日期   A   B     C        date      date1
0  10/26/2013 2010-01-05  10  26  2013  26/10/2013 2013-10-26
1  10/26/2013 2010-01-06  10  26  2013  26/10/2013 2013-10-26
2   9/16/2015 2010-01-07   9  16  2015   16/9/2015 2015-09-16
3  10/26/2013 2010-01-08  10  26  2013  26/10/2013 2013-10-26
4   6/10/2014 2010-01-11   6  10  2014   10/6/2014 2014-10-06

In [69]:
df.to_excel('book1.xlsx')